/* Variable definitions */
:root {
    /* summary */
    --lucide-clipboard-list: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-clipboard-list"><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><path d="M12 11h4"></path><path d="M12 16h4"></path><path d="M8 11h.01"></path><path d="M8 16h.01"></path></svg>');

    /* info */
    --lucide-info: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-info"><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4"></path><path d="M12 8h.01"></path></svg>');


    /* todo */
    --lucide-check-circle-2: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-check-circle-2"><circle cx="12" cy="12" r="10"></circle><path d="m9 12 2 2 4-4"></path></svg>');


    /* note */
    --lucide-pencil: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"></path><path d="m15 5 4 4"></path></svg>');


    /* tip */
    --lucide-flame: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"></path></svg>');


    /* success */
    --lucide-check: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-check"><path d="M20 6 9 17l-5-5"></path></svg>');


    /* question */
    --help-circle: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><path d="M12 17h.01"></path></svg>');


    /* warning */
    --lucide-alert-triangle: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-alert-triangle"><path d="m20.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg>');


    /* fail */
    --lucide-x: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-x"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>');


    /* error */
    --lucide-zap: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"></path></svg>');


    /* bug */
    --lucide-bug: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-bug"><path d="m8 2 1.88 1.88"></path><path d="M14.12 3.88 16 2"></path><path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"></path><path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"></path><path d="M12 20v-9"></path><path d="M6.53 9C4.6 8.8 3 7.1 3 5"></path><path d="M6 13H2"></path><path d="M3 21c0-2.1 1.7-3.9 3.8-4"></path><path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"></path><path d="M22 13h-4"></path><path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"></path></svg>');


    /* example */
    --lucide-list: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-list"><line x0="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>');


    /* quote */
    --quote-glyph: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-quote"><path d="M16 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"></path><path d="M5 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"></path></svg>');

    /* extra */
    --lucide-square-function: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1mdW5jdGlvbi1pY29uIGx1Y2lkZS1zcXVhcmUtZnVuY3Rpb24iPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iMyIgcng9IjIiIHJ5PSIyIi8+PHBhdGggZD0iTTkgMTdjMiAwIDIuOC0xIDIuOC0yLjhWMTBjMC0yIDEtMy4zIDMuMi0zIi8+PHBhdGggZD0iTTkgMTEuMmg1LjciLz48L3N2Zz4=');
    --lucide-scroll-text: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNjcm9sbC10ZXh0LWljb24gbHVjaWRlLXNjcm9sbC10ZXh0Ij48cGF0aCBkPSJNMTUgMTJoLTUiLz48cGF0aCBkPSJNMTUgOGgtNSIvPjxwYXRoIGQ9Ik0xOSAxN1Y1YTIgMiAwIDAgMC0yLTJINCIvPjxwYXRoIGQ9Ik04IDIxaDEyYTIgMiAwIDAgMCAyLTJ2LTFhMSAxIDAgMCAwLTEtMUgxMWExIDEgMCAwIDAtMSAxdjFhMiAyIDAgMSAxLTQgMFY1YTIgMiAwIDEgMC00IDB2MmExIDEgMCAwIDAgMSAxaDMiLz48L3N2Zz4=');
    --lucide-whole-word: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXdob2xlLXdvcmQtaWNvbiBsdWNpZGUtd2hvbGUtd29yZCI+PGNpcmNsZSBjeD0iNyIgY3k9IjEyIiByPSIzIi8+PHBhdGggZD0iTTEwIDl2NiIvPjxjaXJjbGUgY3g9IjE3IiBjeT0iMTIiIHI9IjMiLz48cGF0aCBkPSJNMTQgN3Y4Ii8+PHBhdGggZD0iTTIyIDE3djFjMCAuNS0uNSAxLTEgMUgzYy0uNSAwLTEtLjUtMS0xdi0xIi8+PC9zdmc+');
}

:root {
    --ctp-rosewater: 245, 224, 220;
    --ctp-flamingo: 242, 205, 205;
    --ctp-pink: 245, 194, 231;
    --ctp-mauve: 203, 166, 247;
    --ctp-red: 243, 139, 168;
    --ctp-maroon: 235, 160, 172;
    --ctp-peach: 250, 179, 135;
    --ctp-yellow: 249, 226, 175;
    --ctp-green: 166, 227, 161;
    --ctp-teal: 148, 226, 213;
    --ctp-sky: 137, 220, 235;
    --ctp-sapphire: 116, 199, 236;
    --ctp-blue: 137, 180, 250;
    --ctp-lavender: 180, 190, 254;
    --ctp-text: 205, 214, 244;
    --ctp-subtext1: 186, 194, 222;
    --ctp-subtext0: 166, 173, 200;
    --ctp-overlay2: 147, 153, 178;
    --ctp-overlay1: 127, 132, 156;
    --ctp-overlay0: 108, 112, 134;
    --ctp-surface2: 88, 91, 112;
    --ctp-surface1: 69, 71, 90;
    --ctp-surface0: 49, 50, 68;
    --ctp-base: 30, 30, 46;
    --ctp-mantle: 24, 24, 37;
    --ctp-crust: 17, 17, 27;
    --hex-pink: #f5c2e7;
    --hex-mauve: #cba6f7;
    --hex-red: #f38ba8;
    --hex-peach: #fab387;
    --hex-yellow: #f9e2af;
    --hex-green: #a6e3a1;
    --hex-teal: #94e2d5;
    --hex-sky: #89dceb;
    --hex-sapphire: #74c7ec;
    --hex-blue: #89b4fa;
    --hex-lavender: #b4befe;


    --color-red-rgb: var(--ctp-red);
    --color-red: var(--hex-red);
    --color-orange-rgb: var(--ctp-peach);
    --color-orange: var(--hex-peach);
    --color-yellow-rgb: var(--ctp-yellow);
    --color-yellow: var(--hex-yellow);
    --color-green-rgb: var(--ctp-green);
    --color-green: var(--hex-green);
    --color-cyan-rgb: var(--ctp-sapphire);
    --color-cyan: var(--hex-sapphire);
    --color-blue-rgb: var(--ctp-blue);
    --color-blue: var(--hex-blue);
    --color-purple-rgb: var(--ctp-mauve);
    --color-purple: var(--hex-mauve);
    --color-pink-rgb: var(--ctp-pink);
    --color-pink: var(--hex-pink);






    --callout-border-width: 0.25px;
    --callout-border-opacity: 0.2;
    --callout-padding:
        var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
    --callout-radius: var(--radius-s);
    --callout-blend-mode: var(--highlight-mix-blend-mode);
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-content-padding: 0;
    --callout-content-background: transparent;
    --callout-bug: var(--color-red-rgb);
    --callout-default: var(--color-blue-rgb);
    --callout-error: var(--color-red-rgb);
    --callout-example: var(--color-purple-rgb);
    --callout-fail: var(--color-red-rgb);
    --callout-important: var(--color-cyan-rgb);
    --callout-info: var(--color-blue-rgb);
    --callout-question: var(--color-yellow-rgb);
    --callout-success: var(--color-green-rgb);
    --callout-summary: var(--color-cyan-rgb);
    --callout-tip: var(--color-cyan-rgb);
    --callout-todo: var(--color-blue-rgb);
    --callout-warning: var(--color-orange-rgb);
    --callout-quote: 158, 158, 158;
}


body {
    color: rgb(205, 214, 244);
    background-color: rgb(30, 30, 46);
}

div {
    display: block;
    unicode-bidi: isolate;
}

summary::-webkit-details-marker {
    display: none
}

summary:after {
    content: "+";
    color: rgb(var(--callout-color));
    float: left;
}

details[open] summary:after {
    content: "-";
    color: rgb(var(--callout-color));
    float: left;
}

blockquote {
    padding-left: 12px;
    border-inline-start-color: rgb(180, 190, 254) !important;
    border-inline-start: 2px solid rgb(180, 190, 254);
    margin-left: unset !important;
}

hr {
    border: none;
    border-top: 2px solid;
    border-color: rgb(137, 180, 250);
    display: block;
    margin: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    color: rgb(205, 214, 244);
}

.callout {
    overflow: hidden;
    border-style: solid;
    border-width: 0.25px;
    border-radius: 4px;
    margin: 0;
    margin-top: 12px;
    mix-blend-mode: lighten;
    padding: 12px 12px 12px 24px;
}


.callout-title {
    padding: 0;
    display: flex;
    gap: 4px;
    line-height: 1.25;
    align-items: flex-start;
    font-weight: 600;
}

.callout-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.callout-icon::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

svg.svg-icon {
    height: 18px;
    width: 18px;
    stroke-width: 1.75px;
}

/* Per callout type settings */
.callout {
    --callout-icon: var(--lucide-pencil);
    border-color: rgb(var(--callout-color), 60%);
    background-color: rgb(var(--callout-color), 10%);
}

.callout-icon::before {
    mask-image: var(--callout-icon);
    background-color: rgb(var(--callout-color));
}

.callout[data-callout="요약"],
.callout[data-callout="개요"],
.callout[data-callout=abstract],
.callout[data-callout=summary],
.callout[data-callout=tldr] {
    --callout-color: var(--callout-summary);
    --callout-icon: var(--lucide-clipboard-list);
}

.callout[data-callout="정보"],
.callout[data-callout=info] {
    --callout-icon: var(--lucide-info);
    --callout-color: var(--callout-info)
}

.callout[data-callout="작업"],
.callout[data-callout=todo] {
    --callout-color: var(--callout-todo);
    --callout-icon: var(--lucide-check-circle-2);
}

.callout[data-callout="팁"],
.callout[data-callout="힌트"],
.callout[data-callout="중요"],
.callout[data-callout=tip],
.callout[data-callout=hint],
.callout[data-callout=important] {
    --callout-color: var(--callout-tip);
    --callout-icon: var(--lucide-flame);
}

.callout[data-callout="성공"],
.callout[data-callout="확인됨"],
.callout[data-callout="완료"],
.callout[data-callout=success],
.callout[data-callout=check],
.callout[data-callout=done] {
    --callout-color: var(--callout-success);
    --callout-icon: var(--lucide-check);
}

.callout[data-callout="질문"],
.callout[data-callout="도움말"],
.callout[data-callout="자주-묻는-질문"],
.callout[data-callout=question],
.callout[data-callout=help],
.callout[data-callout=faq] {
    --callout-color: var(--callout-question);
    --callout-icon: var(--help-circle);
}

.callout[data-callout="경고"],
.callout[data-callout="주의"],
.callout[data-callout="알림"],
.callout[data-callout=warning],
.callout[data-callout=caution],
.callout[data-callout=attention] {
    --callout-color: var(--callout-warning);
    --callout-icon: var(--lucide-alert-triangle);
}

.callout[data-callout="실패"],
.callout[data-callout="누락"],
.callout[data-callout="실패"],
.callout[data-callout=failure],
.callout[data-callout=fail],
.callout[data-callout=missing] {
    --callout-color: var(--callout-fail);
    --callout-icon: var(--lucide-x);
}

.callout[data-callout="오류"],
.callout[data-callout="위험"],
.callout[data-callout=danger],
.callout[data-callout=error] {
    --callout-color: var(--callout-error);
    --callout-icon: var(--lucide-zap);
}

.callout[data-callout="버그"],
.callout[data-callout=bug] {
    --callout-color: var(--callout-bug);
    --callout-icon: var(--lucide-bug);
}

.callout[data-callout="예"],
.callout[data-callout=example] {
    --callout-color: var(--callout-example);
    --callout-icon: var(--lucide-list);
}

.callout[data-callout="인용"],
.callout[data-callout=quote],
.callout[data-callout=cite] {
    --callout-color: var(--callout-quote);
    --callout-icon: var(--quote-glyph);
}


/* Custom callouts */

/* Custom general callouts */
.callout[data-callout="links"],
.callout[data-callout="링크"] {
    --callout-color: 120, 161, 186;
    --callout-icon: var(--lucide-link);
}

/* Language callouts */
.callout[data-callout="reference"],
.callout[data-callout="참고"] {
    --callout-color: var(--callout-quote);
    --callout-icon: var(--quote-glyph);
}

.callout[data-callout="word"],
.callout[data-callout="단어"] {
    --callout-color: 74, 180, 194;
    --callout-icon: var(--lucide-whole-word);
}

.callout[data-callout="rule"],
.callout[data-callout="규칙"] {
    --callout-color: 74, 180, 194;
    --callout-icon: var(--lucide-scroll-text);
}

.callout[data-callout="conjugation"],
.callout[data-callout="활용"] {
    --callout-color: 162, 205, 111;
    --callout-icon: var(--lucide-square-function);
}

.callout[data-callout="exception"],
.callout[data-callout="예외"] {
    --callout-color: var(--callout-warning);
    --callout-icon: var(--lucide-alert-triangle);
}

.callout[data-callout="example-sentence"],
.callout[data-callout="예문-문장"] {
    --callout-color: var(--callout-example);
    --callout-icon: var(--lucide-list);
}

.callout[data-callout="word"]:not(.callout[data-callout="word"] .callout)>.callout-title .callout-title-inner,
.callout[data-callout="rule"]:not(.callout[data-callout="rule"] .callout)>.callout-title .callout-title-inner,
.callout[data-callout="규칙"]:not(.callout[data-callout="규칙"] .callout)>.callout-title .callout-title-inner {
    /* color: var(--text-normal); */
    --callout-title-weight: 400;
    font-size: 18px;
}

/* Content overrides */
.callout-content {
    overflow-x: auto;
    padding: 0;
    background-color: transparent;
    color: #e5e5e5;
}
